<div class="container">
  <h1>All Tasks</h1>
  <div class="tasks">
    <% @tasks.each do |t|%>
      <span><%= t.completed%></span>
      <h3><%= link_to t.title, tasks_path(t)%></h3>
    <%end%>
  </div>
  <%= link_to '+ Add new', new_path %>
</div>